23.세종시 도로명주소 건물 geojson 파일에서 코드를 코드명으로 annotation

In [1]:
import pandas as pd

In [50]:
code_definition = pd.read_csv('건물용도코드.csv')
code_definition

        코드           코드명
0     1000          단독주택
1     1001          단독주택
2     1002          다중주택
3     1003         다가구주택
4     1004            공관
..     ...           ...
467  28015         창고용천막
468  28016  관광문화행사용가설건축물
469  28999       기타가설건축물
470  29000          장례식장
471  29001          장례식장

[472 rows x 2 columns]

In [51]:
import geopandas as gpd

df = gpd.read_file('23.세종시_도로명주소_건물.geojson', encoding='cp949')
df

,BDTYP_CD,BULD_NM,BULD_NM_DC,BULD_SE_CD,BUL_MAN_NO,EMD_CD,GRO_FLO_CO,LNBR_MNNM,LNBR_SLNO,UND_FLO_CO,geometry
0,10299,None,None,0,55874,350,1,177,4,0,"MULTIPOLYGON (((127.19039 36.49291, 127.19052 ..."
1,10299,None,None,0,55795,340,1,42,23,0,"MULTIPOLYGON (((127.29546 36.42295, 127.29564 ..."
2,04401,None,None,0,55266,107,7,723,0,2,"MULTIPOLYGON (((127.26217 36.47936, 127.26227 ..."
3,04001,None,None,0,60761,107,9,722,0,3,"MULTIPOLYGON (((127.26235 36.47986, 127.26220 ..."
4,03999,None,None,0,55331,107,8,721,0,3,"MULTIPOLYGON (((127.26173 36.48000, 127.26188 ..."
...,...,...,...,...,...,...,...,...,...,...,...
54952,01001,None,None,0,36537,340,1,135,0,0,"MULTIPOLYGON (((127.35103 36.45149, 127.35101 ..."
54953,14001,None,None,0,40633,340,1,135,0,0,"MULTIPOLYGON (((127.35115 36.45156, 127.35110 ..."
54954,01001,None,None,0,19892,340,1,135,0,0,"MULTIPOLYGON (((127.35098 36.45162, 127.35091 ..."
54955,14001,None,None,0,19893,340,1,135,0,0,"MULTIPOLYGON (((127.35111 36.45163, 127.35108 ..."
54956,01001,금남면 달전리 119-1 단독주택,None,0,54174,340,1,119,1,0,"MULTIPOLYGON (((127.34910 36.45001, 127.34922 ..."

In [52]:
# 23번 파일을 pandas dataframe 으로 변경
df2 = pd.DataFrame(df)
df2

,BDTYP_CD,BULD_NM,BULD_NM_DC,BULD_SE_CD,BUL_MAN_NO,EMD_CD,GRO_FLO_CO,LNBR_MNNM,LNBR_SLNO,UND_FLO_CO,geometry
0,10299,None,None,0,55874,350,1,177,4,0,"MULTIPOLYGON (((127.19039 36.49291, 127.19052 ..."
1,10299,None,None,0,55795,340,1,42,23,0,"MULTIPOLYGON (((127.29546 36.42295, 127.29564 ..."
2,04401,None,None,0,55266,107,7,723,0,2,"MULTIPOLYGON (((127.26217 36.47936, 127.26227 ..."
3,04001,None,None,0,60761,107,9,722,0,3,"MULTIPOLYGON (((127.26235 36.47986, 127.26220 ..."
4,03999,None,None,0,55331,107,8,721,0,3,"MULTIPOLYGON (((127.26173 36.48000, 127.26188 ..."
...,...,...,...,...,...,...,...,...,...,...,...
54952,01001,None,None,0,36537,340,1,135,0,0,"MULTIPOLYGON (((127.35103 36.45149, 127.35101 ..."
54953,14001,None,None,0,40633,340,1,135,0,0,"MULTIPOLYGON (((127.35115 36.45156, 127.35110 ..."
54954,01001,None,None,0,19892,340,1,135,0,0,"MULTIPOLYGON (((127.35098 36.45162, 127.35091 ..."
54955,14001,None,None,0,19893,340,1,135,0,0,"MULTIPOLYGON (((127.35111 36.45163, 127.35108 ..."
54956,01001,금남면 달전리 119-1 단독주택,None,0,54174,340,1,119,1,0,"MULTIPOLYGON (((127.34910 36.45001, 127.34922 ..."

In [53]:
# 다른 데이터프레임과 merge 위해 type int로 변경해 type 맞춰줌
df2['BDTYP_CD'] = df2['BDTYP_CD'].astype('int')

In [54]:
# 건물용도코드로 annotation
code_merge = pd.merge(df2, code_definition, left_on = 'BDTYP_CD', right_on = '코드', how = 'left')
code_merge

,BDTYP_CD,BULD_NM,BULD_NM_DC,BULD_SE_CD,BUL_MAN_NO,EMD_CD,GRO_FLO_CO,LNBR_MNNM,LNBR_SLNO,UND_FLO_CO,geometry,코드,코드명
0,10299,None,None,0,55874,350,1,177,4,0,"MULTIPOLYGON (((127.19039 36.49291, 127.19052 ...",10299.0,기타일반업무시설
1,10299,None,None,0,55795,340,1,42,23,0,"MULTIPOLYGON (((127.29546 36.42295, 127.29564 ...",10299.0,기타일반업무시설
2,4401,None,None,0,55266,107,7,723,0,2,"MULTIPOLYGON (((127.26217 36.47936, 127.26227 ...",4401.0,금융업소
3,4001,None,None,0,60761,107,9,722,0,3,"MULTIPOLYGON (((127.26235 36.47986, 127.26220 ...",4001.0,일반음식점
4,3999,None,None,0,55331,107,8,721,0,3,"MULTIPOLYGON (((127.26173 36.48000, 127.26188 ...",3999.0,기타제1종근생
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55266,1001,None,None,0,36537,340,1,135,0,0,"MULTIPOLYGON (((127.35103 36.45149, 127.35101 ...",1001.0,단독주택
55267,14001,None,None,0,40633,340,1,135,0,0,"MULTIPOLYGON (((127.35115 36.45156, 127.35110 ...",14001.0,창고
55268,1001,None,None,0,19892,340,1,135,0,0,"MULTIPOLYGON (((127.35098 36.45162, 127.35091 ...",1001.0,단독주택
55269,14001,None,None,0,19893,340,1,135,0,0,"MULTIPOLYGON (((127.35111 36.45163, 127.35108 ...",14001.0,창고
55270,1001,금남면 달전리 119-1 단독주택,None,0,54174,340,1,119,1,0,"MULTIPOLYGON (((127.34910 36.45001, 127.34922 ...",1001.0,단독주택

In [57]:
# 건물구분코드로 annotation
build_se = []
for code in code_merge['BULD_SE_CD']:
    if code == '0':
        build_se.append('지상')
    elif code == '1':
        build_se.append('지하')
    elif code == '2':
        build_se.append('공중')
    else:
        build_se.append('')
code_merge['build_se'] = build_se

In [58]:
code_merge

,BDTYP_CD,BULD_NM,BULD_NM_DC,BULD_SE_CD,BUL_MAN_NO,EMD_CD,GRO_FLO_CO,LNBR_MNNM,LNBR_SLNO,UND_FLO_CO,geometry,코드,코드명,build_se
0,10299,None,None,0,55874,350,1,177,4,0,"MULTIPOLYGON (((127.19039 36.49291, 127.19052 ...",10299.0,기타일반업무시설,지상
1,10299,None,None,0,55795,340,1,42,23,0,"MULTIPOLYGON (((127.29546 36.42295, 127.29564 ...",10299.0,기타일반업무시설,지상
2,4401,None,None,0,55266,107,7,723,0,2,"MULTIPOLYGON (((127.26217 36.47936, 127.26227 ...",4401.0,금융업소,지상
3,4001,None,None,0,60761,107,9,722,0,3,"MULTIPOLYGON (((127.26235 36.47986, 127.26220 ...",4001.0,일반음식점,지상
4,3999,None,None,0,55331,107,8,721,0,3,"MULTIPOLYGON (((127.26173 36.48000, 127.26188 ...",3999.0,기타제1종근생,지상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55266,1001,None,None,0,36537,340,1,135,0,0,"MULTIPOLYGON (((127.35103 36.45149, 127.35101 ...",1001.0,단독주택,지상
55267,14001,None,None,0,40633,340,1,135,0,0,"MULTIPOLYGON (((127.35115 36.45156, 127.35110 ...",14001.0,창고,지상
55268,1001,None,None,0,19892,340,1,135,0,0,"MULTIPOLYGON (((127.35098 36.45162, 127.35091 ...",1001.0,단독주택,지상
55269,14001,None,None,0,19893,340,1,135,0,0,"MULTIPOLYGON (((127.35111 36.45163, 127.35108 ...",14001.0,창고,지상
55270,1001,금남면 달전리 119-1 단독주택,None,0,54174,340,1,119,1,0,"MULTIPOLYGON (((127.34910 36.45001, 127.34922 ...",1001.0,단독주택,지상

In [59]:
code_merge.columns

Index(['BDTYP_CD', 'BULD_NM', 'BULD_NM_DC', 'BULD_SE_CD', 'BUL_MAN_NO',
       'EMD_CD', 'GRO_FLO_CO', 'LNBR_MNNM', 'LNBR_SLNO', 'UND_FLO_CO',
       'geometry', '코드', '코드명', 'build_se'],
      dtype='object')

In [60]:
# annotation 결과 파일 열 이름 변경
code_merge.columns = ['BDTYP_CD', 'BULD_NM', 'BULD_NM_DC', 'BULD_SE_CD', 'BUL_MAN_NO',
       'EMD_CD', 'GRO_FLO_CO', 'LNBR_MNNM', 'LNBR_SLNO', 'UND_FLO_CO',
       'geometry', '코드', 'BDTYP_CD_NM', 'BULD_SE_NM']

In [61]:
del code_merge['코드']

In [62]:
code_merge

,BDTYP_CD,BULD_NM,BULD_NM_DC,BULD_SE_CD,BUL_MAN_NO,EMD_CD,GRO_FLO_CO,LNBR_MNNM,LNBR_SLNO,UND_FLO_CO,geometry,BDTYP_CD_NM,BULD_SE_NM
0,10299,None,None,0,55874,350,1,177,4,0,"MULTIPOLYGON (((127.19039 36.49291, 127.19052 ...",기타일반업무시설,지상
1,10299,None,None,0,55795,340,1,42,23,0,"MULTIPOLYGON (((127.29546 36.42295, 127.29564 ...",기타일반업무시설,지상
2,4401,None,None,0,55266,107,7,723,0,2,"MULTIPOLYGON (((127.26217 36.47936, 127.26227 ...",금융업소,지상
3,4001,None,None,0,60761,107,9,722,0,3,"MULTIPOLYGON (((127.26235 36.47986, 127.26220 ...",일반음식점,지상
4,3999,None,None,0,55331,107,8,721,0,3,"MULTIPOLYGON (((127.26173 36.48000, 127.26188 ...",기타제1종근생,지상
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55266,1001,None,None,0,36537,340,1,135,0,0,"MULTIPOLYGON (((127.35103 36.45149, 127.35101 ...",단독주택,지상
55267,14001,None,None,0,40633,340,1,135,0,0,"MULTIPOLYGON (((127.35115 36.45156, 127.35110 ...",창고,지상
55268,1001,None,None,0,19892,340,1,135,0,0,"MULTIPOLYGON (((127.35098 36.45162, 127.35091 ...",단독주택,지상
55269,14001,None,None,0,19893,340,1,135,0,0,"MULTIPOLYGON (((127.35111 36.45163, 127.35108 ...",창고,지상
55270,1001,금남면 달전리 119-1 단독주택,None,0,54174,340,1,119,1,0,"MULTIPOLYGON (((127.34910 36.45001, 127.34922 ...",단독주택,지상

In [64]:
code_merge.to_csv('23_세종시도로명주소건물.csv', index = False, encoding = 'utf-8') # 23번 파일 annotation 결과 csv 파일로 저장