## 세종시 지역별 세대원수별 세대수 데이터 전처리
##### 읍면동 열 공백 제거
##### 데이터프레임 행, 열 형태 변경

In [87]:
import pandas as pd

In [99]:
df = pd.read_csv('./data/28.세종시_지역별_세대원수별_세대수.csv')
df

      읍면동      계    1인    2인    3인    4인    5인   6인  7인  8인  9인  10인이상
0    조치원읍  19472  8295  4165  3042  2729   944  220  63   9   4      1
1   연 기 면   1445   855   299   133   101    36   11   7   1   2      0
2   연 동 면   1680   834   461   206   114    44   14   5   1   0      1
3   부 강 면   3249  1603   821   420   273    93   34   3   0   0      2
4   금 남 면   4509  2128  1283   589   328   122   41  12   6   0      0
5   장 군 면   3453  1956   806   332   200   106   35  11   6   1      0
6   연 서 면   3834  1863  1022   484   276   129   38  16   3   2      1
7   전 의 면   3045  1551   753   352   244   107   29   8   0   1      0
8   전 동 면   2130  1224   491   213   124    57   15   6   0   0      0
9   소 정 면   1231   565   308   160   127    58    9   1   2   1      0
10  한 솔 동   6333  1069  1134  1468  1944   584  101  25   5   1      2
11  새 롬 동  20495  6019  3980  4283  4754  1201  201  39  12   4      2
12  도 담 동  13136  5002  2117  2383  2825   667  106  29   3   4      0
13  아 름 동   7560  1058  1262  1858  2656   597   98  20   7   1      3
14  종 촌 동  10691  2525  2049  2420  2847   675  120  34  17   2      2
15  고 운 동  11436  2025  2341  2839  3240   814  145  19   7   4      2
16  소 담 동  10973  2754  2268  2597  2545   671  106  27   1   1      3
17  보 람 동   6810  1536  1363  1544  1802   471   69  20   2   2      1
18  대 평 동   3926   857   977   932   886   228   33   9   4   0      0

In [100]:
df['읍면동'] = df['읍면동'].str.replace(" ","")
df['읍면동']

0     조치원읍
1      연기면
2      연동면
3      부강면
4      금남면
5      장군면
6      연서면
7      전의면
8      전동면
9      소정면
10     한솔동
11     새롬동
12     도담동
13     아름동
14     종촌동
15     고운동
16     소담동
17     보람동
18     대평동
Name: 읍면동, dtype: object

In [101]:
# 세대원수 기준 변경
df['2인-3인'] = df['2인'] + df['3인']
df['4인-5인'] = df['4인'] + df['5인']
df['6인 이상'] = df['6인'] + df['7인'] + df['8인'] + df['9인'] + df['10인이상']
del df['2인'], df['3인'], df['4인'], df['5인'], df['6인'], df['7인'], df['8인'], df['9인'], df['10인이상']

In [102]:
df

     읍면동      계    1인  2인-3인  4인-5인  6인 이상
0   조치원읍  19472  8295   7207   3673    297
1    연기면   1445   855    432    137     21
2    연동면   1680   834    667    158     21
3    부강면   3249  1603   1241    366     39
4    금남면   4509  2128   1872    450     59
5    장군면   3453  1956   1138    306     53
6    연서면   3834  1863   1506    405     60
7    전의면   3045  1551   1105    351     38
8    전동면   2130  1224    704    181     21
9    소정면   1231   565    468    185     13
10   한솔동   6333  1069   2602   2528    134
11   새롬동  20495  6019   8263   5955    258
12   도담동  13136  5002   4500   3492    142
13   아름동   7560  1058   3120   3253    129
14   종촌동  10691  2525   4469   3522    175
15   고운동  11436  2025   5180   4054    177
16   소담동  10973  2754   4865   3216    138
17   보람동   6810  1536   2907   2273     94
18   대평동   3926   857   1909   1114     46

In [103]:
# 세종시 전체 세대원수별 세대수 생성
a = df['계'].sum()
b = df['1인'].sum()
c = df['2인-3인'].sum()
d = df['4인-5인'].sum()
e = df['6인 이상'].sum()
# 세종특별자치시 행 추가
df.loc['19'] = ['세종특별자치시', a, b, c, d, e]
df

        읍면동       계     1인  2인-3인  4인-5인  6인 이상
0      조치원읍   19472   8295   7207   3673    297
1       연기면    1445    855    432    137     21
2       연동면    1680    834    667    158     21
3       부강면    3249   1603   1241    366     39
4       금남면    4509   2128   1872    450     59
5       장군면    3453   1956   1138    306     53
6       연서면    3834   1863   1506    405     60
7       전의면    3045   1551   1105    351     38
8       전동면    2130   1224    704    181     21
9       소정면    1231    565    468    185     13
10      한솔동    6333   1069   2602   2528    134
11      새롬동   20495   6019   8263   5955    258
12      도담동   13136   5002   4500   3492    142
13      아름동    7560   1058   3120   3253    129
14      종촌동   10691   2525   4469   3522    175
15      고운동   11436   2025   5180   4054    177
16      소담동   10973   2754   4865   3216    138
17      보람동    6810   1536   2907   2273     94
18      대평동    3926    857   1909   1114     46
19  세종특별자치시  135408  43719  54155  35619   1915

In [104]:
df.iloc[19][1:]

계        135408
1인        43719
2인-3인     54155
4인-5인     35619
6인 이상      1915
Name: 19, dtype: object

In [105]:
# 동별로 복제될 세종특별자치시 인구수 (5행)
new = pd.DataFrame(df.iloc[19][1:])
# index column 열 생성
new = new.reset_index()
new

   index      19
0      계  135408
1     1인   43719
2  2인-3인   54155
3  4인-5인   35619
4  6인 이상    1915

In [106]:
# 열 이름 변경
new.columns = ['구분', '세종시전체']
new

      구분   세종시전체
0      계  135408
1     1인   43719
2  2인-3인   54155
3  4인-5인   35619
4  6인 이상    1915

In [107]:
df['읍면동']

0        조치원읍
1         연기면
2         연동면
3         부강면
4         금남면
5         장군면
6         연서면
7         전의면
8         전동면
9         소정면
10        한솔동
11        새롬동
12        도담동
13        아름동
14        종촌동
15        고운동
16        소담동
17        보람동
18        대평동
19    세종특별자치시
Name: 읍면동, dtype: object

In [108]:
# 동 개수만큼 세대원수별 세대수 데이터 추가 (20 * 5 = 100)
new2 = new
for i in range(19):
    new = new.append(new2)
new

       구분   세종시전체
0       계  135408
1      1인   43719
2   2인-3인   54155
3   4인-5인   35619
4   6인 이상    1915
..    ...     ...
0       계  135408
1      1인   43719
2   2인-3인   54155
3   4인-5인   35619
4   6인 이상    1915

[100 rows x 2 columns]

In [109]:
# 동 개수 list 생성
dong_list = df['읍면동'].unique()
dong_list

array(['조치원읍', '연기면', '연동면', '부강면', '금남면', '장군면', '연서면', '전의면', '전동면',
       '소정면', '한솔동', '새롬동', '도담동', '아름동', '종촌동', '고운동', '소담동', '보람동',
       '대평동', '세종특별자치시'], dtype=object)

In [110]:
# 동 list도 데이터프레임 행 개수 (20*5=100) 로 만들어줌
new_dong_list = []
for i in dong_list:
    new_dong_list.append(i)
    new_dong_list.append(i)
    new_dong_list.append(i)
    new_dong_list.append(i)
    new_dong_list.append(i)
new_dong_list

['조치원읍',
 '조치원읍',
 '조치원읍',
 '조치원읍',
 '조치원읍',
 '연기면',
 '연기면',
 '연기면',
 '연기면',
 '연기면',
 '연동면',
 '연동면',
 '연동면',
 '연동면',
 '연동면',
 '부강면',
 '부강면',
 '부강면',
 '부강면',
 '부강면',
 '금남면',
 '금남면',
 '금남면',
 '금남면',
 '금남면',
 '장군면',
 '장군면',
 '장군면',
 '장군면',
 '장군면',
 '연서면',
 '연서면',
 '연서면',
 '연서면',
 '연서면',
 '전의면',
 '전의면',
 '전의면',
 '전의면',
 '전의면',
 '전동면',
 '전동면',
 '전동면',
 '전동면',
 '전동면',
 '소정면',
 '소정면',
 '소정면',
 '소정면',
 '소정면',
 '한솔동',
 '한솔동',
 '한솔동',
 '한솔동',
 '한솔동',
 '새롬동',
 '새롬동',
 '새롬동',
 '새롬동',
 '새롬동',
 '도담동',
 '도담동',
 '도담동',
 '도담동',
 '도담동',
 '아름동',
 '아름동',
 '아름동',
 '아름동',
 '아름동',
 '종촌동',
 '종촌동',
 '종촌동',
 '종촌동',
 '종촌동',
 '고운동',
 '고운동',
 '고운동',
 '고운동',
 '고운동',
 '소담동',
 '소담동',
 '소담동',
 '소담동',
 '소담동',
 '보람동',
 '보람동',
 '보람동',
 '보람동',
 '보람동',
 '대평동',
 '대평동',
 '대평동',
 '대평동',
 '대평동',
 '세종특별자치시',
 '세종특별자치시',
 '세종특별자치시',
 '세종특별자치시',
 '세종특별자치시']

In [111]:
# 데이터프레임에 읍면동 열 추가 후 동 이름 할당
new['읍면동'] = new_dong_list
new

       구분   세종시전체      읍면동
0       계  135408     조치원읍
1      1인   43719     조치원읍
2   2인-3인   54155     조치원읍
3   4인-5인   35619     조치원읍
4   6인 이상    1915     조치원읍
..    ...     ...      ...
0       계  135408  세종특별자치시
1      1인   43719  세종특별자치시
2   2인-3인   54155  세종특별자치시
3   4인-5인   35619  세종특별자치시
4   6인 이상    1915  세종특별자치시

[100 rows x 3 columns]

In [113]:
# 동 별 세대수 list 생성
sedae = []
for i in range(20):
    sedae.append(list(df.iloc[i][1:]))
sedae

[[19472, 8295, 7207, 3673, 297],
 [1445, 855, 432, 137, 21],
 [1680, 834, 667, 158, 21],
 [3249, 1603, 1241, 366, 39],
 [4509, 2128, 1872, 450, 59],
 [3453, 1956, 1138, 306, 53],
 [3834, 1863, 1506, 405, 60],
 [3045, 1551, 1105, 351, 38],
 [2130, 1224, 704, 181, 21],
 [1231, 565, 468, 185, 13],
 [6333, 1069, 2602, 2528, 134],
 [20495, 6019, 8263, 5955, 258],
 [13136, 5002, 4500, 3492, 142],
 [7560, 1058, 3120, 3253, 129],
 [10691, 2525, 4469, 3522, 175],
 [11436, 2025, 5180, 4054, 177],
 [10973, 2754, 4865, 3216, 138],
 [6810, 1536, 2907, 2273, 94],
 [3926, 857, 1909, 1114, 46],
 [135408, 43719, 54155, 35619, 1915]]

In [115]:
# 이제 세대수를 데이터프레임 개수만큼 할당하기 위해 세대수 2차원 list를 1차원 list로 변경 (5 * 21 = 105)
sedae2 = sum(sedae, [])
len(sedae2)

100

In [116]:
# 동별세대수 열 생성
new['동별세대수'] = sedae2
new

       구분   세종시전체      읍면동   동별세대수
0       계  135408     조치원읍   19472
1      1인   43719     조치원읍    8295
2   2인-3인   54155     조치원읍    7207
3   4인-5인   35619     조치원읍    3673
4   6인 이상    1915     조치원읍     297
..    ...     ...      ...     ...
0       계  135408  세종특별자치시  135408
1      1인   43719  세종특별자치시   43719
2   2인-3인   54155  세종특별자치시   54155
3   4인-5인   35619  세종특별자치시   35619
4   6인 이상    1915  세종특별자치시    1915

[100 rows x 4 columns]

In [118]:
# 최종 데이터프레임 열 순서 변경
new = new[['읍면동', '동별세대수', '세종시전체', '구분']]
new

        읍면동   동별세대수   세종시전체     구분
0      조치원읍   19472  135408      계
1      조치원읍    8295   43719     1인
2      조치원읍    7207   54155  2인-3인
3      조치원읍    3673   35619  4인-5인
4      조치원읍     297    1915  6인 이상
..      ...     ...     ...    ...
0   세종특별자치시  135408  135408      계
1   세종특별자치시   43719   43719     1인
2   세종특별자치시   54155   54155  2인-3인
3   세종특별자치시   35619   35619  4인-5인
4   세종특별자치시    1915    1915  6인 이상

[100 rows x 4 columns]

In [119]:
new.to_csv('./data/28_세대구성.csv', index = False, encoding = 'utf-8')